  </main>

  <footer class="site-footer">
    <p>All rights reserved. This software belongs to JACKSON YEBOAH.</p>
    <p class="footer-meta">Developed by JACKSON YEBOAH @<%= currentYear %></p>
  </footer>
</div>
</body>
</html>
